body{
  flex-wrap: wrap;
}


section{
  min-width: 480px;

}

.contact-options {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
}

.contact-options h1 {
  font-size: 32px;
  color: #11101b;
  margin-bottom: 20px;
}

.contact-method {
  margin-bottom: 20px;
}

.contact-method h2 {
  font-size: 24px;
  color: #11101b;
  margin-bottom: 10px;
}

.contact-method p {
  color: #444;
}

.contact-method ul {
  list-style: none;
  padding: 0;
}

.contact-method li {
  margin-bottom: 10px;
}

.contact-method a {
  color: #007bff; 
  text-decoration: none;
  font-weight: bold;
}

.contact-method a:hover {
  text-decoration: underline;
}

@media (width < 1380px){

}

@media (width < 480px) {
 
}
  