/* Estilo del cuerpo y fuente principal */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

/* Estilo de las secciones */
section {
  margin: 20px;
  padding: 20px;
  background-color: #fff; /* Fondo blanco */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px; /* Bordes redondeados */
}

section h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #7d584f; /* Color de título para las secciones */
  text-transform: uppercase; /* Texto en mayúsculas */
}


.presentacion img{
  max-width: 360px;
}

.colaboradores img{
  max-width: 360px;
}

  
  /* Estilo del pie de página */
  footer {
    background-color: #d8a399; /* Fondo melocotón claro */
    color: #fff;
    text-align: center;
    padding: 33px;
    border-top-left-radius: 10px; /* Bordes redondeados en la esquina superior izquierda */
    border-top-right-radius: 10px; /* Bordes redondeados en la esquina superior derecha */
  }
