

/* Estilos para pantallas grandes */
@media only screen and (min-width: 1381px) {
  /* Agrega aquí estilos específicos para pantallas grandes si es necesario */
}

/* Estilos para pantallas medianas */
@media only screen and (max-width: 1380px) and (min-width: 769px) {
  body {
    padding: 0 20px; /* Ajusta el espaciado del cuerpo para pantallas medianas */
  }

  header {
    padding: 0 20px; /* Ajusta el espaciado del encabezado para pantallas medianas */
  }

  .nav-bar ul {
    flex-direction: column; /* Cambia la dirección del menú para pantallas medianas */
    align-items: center;
  }

  .nav-bar ul li {
    margin: 5px 0; /* Ajusta el espaciado entre elementos de menú para pantallas medianas */
  }

  .logo {
    font-size: 24px; /* Ajusta el tamaño del logo para pantallas medianas */
  }
  
  .hamburger {
    display: block; /* Muestra el ícono del menú hamburguesa para pantallas medianas */
  }
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 768px) {
  body {
    padding: 0 10px; /* Ajusta el espaciado del cuerpo para pantallas pequeñas */
  }

  header {
    padding: 0 10px; /* Ajusta el espaciado del encabezado para pantallas pequeñas */
  }

  .nav-bar {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #11101b;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav-bar.active {
    display: flex;
  }

  .nav-bar ul {
    flex-direction: column; /* Cambia la dirección del menú para pantallas pequeñas */
    align-items: center;
  }

  .nav-bar ul li {
    margin: 5px 0; /* Ajusta el espaciado entre elementos de menú para pantallas pequeñas */
  }

  .logo {
    font-size: 20px; /* Ajusta el tamaño del logo para pantallas pequeñas */
  }

  .hamburger {
    display: block; /* Muestra el ícono del menú hamburguesa para pantallas pequeñas */
  }

  .nav-bar ul li a {
    padding: 10px 10px; /* Ajusta el espaciado de los elementos de menú para pantallas pequeñas */
  }

  .presentacion,
  .colaboradores {
    width: 100%; /* Haz que las secciones ocupen el 100% del ancho para pantallas pequeñas */
  }

  .presentacion img,
  .colaboradores img {
    max-width: 100%; /* Haz que las imágenes ocupen el 100% del ancho para pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho para pantallas pequeñas */
    float: none; /* Elimina la flotación para pantallas pequeñas */
  }

  .colaboradores .section-content p {
    display: block; /* Ajusta la visualización de los párrafos para pantallas pequeñas */
  }

  .distribuidora {
    max-width: 100%; /* Haz que la imagen de la distribuidora ocupe el 100% del ancho para pantallas pequeñas */
    float: none; /* Elimina la flotación para pantallas pequeñas */
    margin-right: 0; /* Elimina el margen derecho para pantallas pequeñas */
  }
}

  color: #fff;
  text-align: center;
  padding: 20px; 
  margin-top: 20px; 
}
