

section {
  margin: 10px 10px 20px; 
  padding: 20px;
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px; 
  overflow: hidden; 
}

section h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #7d584f; 
  text-transform: uppercase;
}

.presentacion,
.colaboradores {
  margin: 25px auto; 
  width: 90%; 
}

.presentacion img{
  max-width: 320px;
  float: left;
  border: 3px solid black;
  border-radius: 10px;
  margin-right: 15px;
}

.colaboradores img {
  max-width: 200px;
  float: left;
  border: 3px solid black;
  border-radius: 10px;
  margin-right: 15px;
}

.presentacion .section-content h2,
.colaboradores .section-content h2 {
  font-size: 32px;
}

.presentacion .section-content p,
.colaboradores .section-content p {
  font-size: 16px;
}

.colaboradores .section-content p{
  display: flex;
  align-items: center;
}

.distribuidora {
  max-width: 400px;
  float: right;
  margin-right: 20px;

}

footer {
  background-color: #d8a399;
  color: #fff;
  text-align: center;
  padding: 20px; 
  margin-top: 20px; 
}



@media only screen and (max-width: 600px) {
}
